$cl-darkgray: rgb(45,62,79);  
$cl-lightgray: rgb(245,245,245);
$cl-selected: rgb(179,191,58);
$cl-unselected: rgb(135,134,138);
$cl-black: rgb(0,0,0);
$cl-white: rgb(255,255,255);
$cl-background-color-default: rgb(249,249,249);
$cl-text-black: rgb(59,75,91)