@import '../../../../../../assets/scss/variables/color.scss';

.avatar-dropdown {
  width: 5%;
  text-align: -webkit-center;
  border-radius: 60px;
  // width: 35px;
  height: 35px;
  // background: $cl-white;
  display: flex;
  justify-content: center;
  position: relative;
  display: inline-block;

  .avatar {
    background: $cl-white;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    justify-content: center;
    display: flex;
    align-items: center;

    .avatar-image {
      height: 100%;
      width: auto;
    };

    i {
      font-size: 1.5rem;
      text-align: center;
      color: $cl-darkgray;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $cl-darkgray;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba($cl-black, 0.2);
  z-index: 1;
  right: 0px;
  margin-top: 30px;

  span {
    color: $cl-white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;  
  }
}

.show {
  display: block;
}

.arrow {
  width: 0;
  height: 0;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 9px solid $cl-darkgray;
  position: absolute;
  top: -8px;
  left: 76%;;
}