@import '../../../../assets/scss/variables/color.scss';

.sidebar {
  flex: 1;
  z-index: 1;
  max-width: 180px;
  // width: 12%;
  height: -webkit-fill-available;
  background-color: $cl-white;
  box-shadow: 4px 0px 14px 0px rgba($cl-black, 0.1);
  padding: 2%;

  .item--menu {
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-content: flex-start;
    margin-bottom: 20px;
    cursor: pointer;
    
    .item--icon {
      font-size: 1.2em;
      margin-right: 20px;
      color: $cl-unselected
    }

    .item--text {
      font-size: 1.2em;
      color: $cl-unselected
    }

    &.selected {
      .item--icon {
        color: $cl-selected;
      };
      .item--text {
        color: $cl-selected
      } 
    }
  }
}
